body {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
}

header,
nav,
main,
footer {
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0px 15px;
}

main {
    display: flex;
    justify-content: space-between;
}

/* RESPONZIVNÍ DESIGN */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}